<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
</head>
<body>

<h1>Index Page</h1>

<!-- Naver Login Image & Button -->
<button onclick="showLoginPopup();"><img width="200" height="50" src="images/btnG_완성형.png"></button>

</body>

<script>

  // 네이버 로그인을 위한 팝업창 생성
  function showLoginPopup(){
    let uri = 'https://nid.naver.com/oauth2.0/authorize?' +
            'response_type=code' +                  // 인증과정에 대한 내부 구분값 code 로 전공 (고정값)
            '&client_id=yMLNmzMmwJfV81HW82NF' +     // 발급받은 client_id 를 입력
            '&state=NAVER_LOGIN_TEST' +             // CORS 를 방지하기 위한 특정 토큰값(임의값 사용)
            '&redirect_uri=http://localhost:8080/login/oauth2/code/naver';   // 어플케이션에서 등록했던 CallBack URL를 입력

    // 사용자가 사용하기 편하게끔 팝업창으로 띄어준다.
    window.open(uri, "Naver Login Test PopupScreen", "width=450, height=600");
  }

</script>
